doctype html
html(lang="en")
    head
      title How many days until #{thisMonth}, #{Wdays} #{yearURL}?
      script(type='application/ld+json').
            {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [{
            "@type": "Question",
            "name": "#{q1}",
            "acceptedAnswer": {
            "@type": "Answer",
            "text": "#{a1}"
            }
            },{
            "@type": "Question",
            "name": "#{q2}",
            "acceptedAnswer": {
            "@type": "Answer",
            "text":"#{a2}"
            }
            }
            ,{
            "@type": "Question",
            "name": "#{q3}",
            "acceptedAnswer": {
            "@type": "Answer",
            "text":"#{a2}"
            }
            }
            ,{
            "@type": "Question",
            "name": "#{q4}",
            "acceptedAnswer": {
            "@type": "Answer",
            "text":"#{a2}"
            }
            }]
            }
      script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-MVBK9BV');
      meta(charset='utf-8')
      style
          include style.css
      meta( name="description" content=""+ desc +"")
      meta( name="keywords" content="How long until?, How many days?, What date will be in this many days?, How long between 2 dates?,How many days between 2 dates?")
      meta( name="author" content="Idan Rutman")
      meta( name="viewport" content="width=100%, initial-scale=1")

      meta( name="twitter:card" content="summary" )
      meta( name="twitter:site" content="@OptiPog" )
      meta( name="twitter:title" content="How many days until " +thisMonth+ ", " +Wdays+ " " +yearURL+ "?")
      meta( name="twitter:description" content=""+ desc +"" )
      meta( name="twitter:image" content="https://convert.company/logo.png")

      meta( property="og:title" content="How many days until " +thisMonth+ ", " +Wdays+ " " +yearURL+ "?")
      meta( property="og:url" content="https://convert.company/from/now/"+dayURL+"/"+monthURL+"/"+yearURL+"")
      meta( property="og:image" content="https://convert.company/logo.png")
      meta( property="og:type" content="website")
      meta( property="og:description" content=""+ desc +"")
      meta( property="og:locale" content="en")
      script.
        function urlencode(value){return value.replace(/ /g,"/")}
      link( href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet")
    body
        noscript.
            iframe 
                src="https://www.googletagmanager.com/ns.html?id=GTM-MVBK9BV"
                height="0" width="0" style="display:none;visibility:hidden"
        div(class="wrapper" style="width: 100%;background-color:#5b5b5b;")
            div(style="padding-top:25px")
                a(href="https://convert.company" style="text-decoration:none" )
                    img( src="/logo.png" alt="Logo" style="   display: block; margin-left: auto; margin-right: auto; width: 150px; height:150px" width="150px" height="150px")
                h1 #[b #[a(href="/from/now/"+dayURL+"/"+monthURL+"/"+yearURL+"" style="text-decoration: none ") #{dayOfWeek}, #{thisMonth}, #{Wdays} #{yearURL}]] is in:
                if ytop!=""
                    h1 #[b #[a(href="/now/add/"+(daysbtw+1)+"" style="text-decoration:none") #{ytop} ]]
                if mtop !=""
                    h1 #[b #[a(href="/now/add/"+(daysbtw+1)+"" style="text-decoration:none") #{mtop}]]
                if dtop!=""
                    h1 #[b #[a(href="/now/add/"+(daysbtw+1)+"" style="text-decoration:none") #{dtop}]]
            div(class="planner")
                div(class="calendar")
                    div(class="calendar-header")
                        span(style="text-align:center") #[a(href=""+monthB4l+"" title="Last month: "+beforeMonth+" "+monthB4 +"" style="text-decoration:none" ) < ]  #{thisMonth} #{yearURL}  #[a(href="/from/now/"+monthL8r+"" title="Next month: "+nextMonth+" "+monthL8r +"" style="text-decoration:none"  )  >]
                    table
                        thread
                            tr
                                th Sun
                                th Mon
                                th Tue
                                th Wed
                                th Thu
                                th Fri
                                th Sat
                            tbody
                                tr
                                    each val,i in weekdays

                                        if i%7==0
                                            tr
                                        if val==today && month== monthdays[i]
                                            td #[a(href=""+linkt[i]+"" style="font-weight: bold" title="" + say[i] + " "+val+"/" + monthdays[i] + "/" + yeardays[i] + "") #{val}]
                                        else
                                            td #[a(href=""+linkt[i]+"" style="text-decoration:none" title="" + say[i] + " "+val+"/" + monthdays[i] + "/" + yeardays[i] + "") #{val}]
            div(style="padding-bottom:10px")
        h2 The amount of time between #[b #[a(href="/from/now/"+dayURL+"/"+monthURL+"/"+yearURL+"" style="text-decoration: none") #{dayOfWeek}, #{thisMonth}, #{Wdays} #{yearURL}]] and today (#[b #[a(href="/from/now/"+dayURL+"/"+monthURL+"/"+yearURL+"" style="text-decoration: none") #{nowM}, #{Dsay} #{nowY}]]) is: #[b #[a(href="/now/add/"+daysbtw+"" style="text-decoration:none") #{Ytxt} #{Mtxt} #{Dtxt} #{htxt} #{mtxt} #{stxt}]]
        h2 which is #[b #[a(href="/now/add/"+daysbtw+"" style="text-decoration:none") #{weektxt}]]
        h2 and that is also #[b #[a(href="/now/add/"+daysbtw+"" style="text-decoration:none") #{daytxt} ]]
        h2 which turns out to be hours #[b #[a(href="/now/add/"+daysbtw+"" style="text-decoration:none") #{hourtxt}]]
        h2 and calculating that to be #[b #[a(href="/now/add/"+daysbtw+"" style="text-decoration:none") #{mintxt} ]]
        h2 and that is exactly #[b #[a(href="/now/add/"+daysbtw+"" style="text-decoration:none") #{sectxt} ]]
        br
        form(onsubmit="if (this.form.d1.value.length > 0) {location='/from/now/'+ urlencode(this.form.d1.value);} else {alert('Please enter a valid date.');}return false;")
            label how long until #[input(type="text" name="d1" class="borderless" )] 
            input(type="submit" value="?" onclick="if (this.form.d1.value.length > 0) {location='/from/now/'+ urlencode(this.form.d1.value);} else {alert('Please enter a valid date.');}return false;")
        h2(style="font-size: 16px") we only accept dates that are from tomorrow and up
        br
        h2(style="font-size: 16px") #[a(href="/now/add/15" style="text-decoration: underline") What date is in 15 days]
        h2(style="font-size: 16px") #[a(href="/now/add/30" style="text-decoration: underline") What date is in 30 days]
        h2(style="font-size: 16px") #[a(href="/now/add/45" style="text-decoration: underline") What date is in 45 days]
        h2(style="font-size: 16px") #[a(href="/now/add/60" style="text-decoration: underline") What date is in 60 days]
        h2(style="font-size: 16px") #[a(href="/now/add/90" style="text-decoration: underline") What date is in 90 days]
        h2(style="font-size: 16px") #[a(href="/now/add/365" style="text-decoration: underline") What date is in 365 days]
        each val,i in randomArr
            h2(style="font-size: 16px") #[a(href="/from/now/"+randomArr[i]+"" style="text-decoration: underline") how long between now and #{randomMonthSay[i]}, #{randomArr[i]}]
        br
        h2 this site is made by a high schooler which is trying out enterpenuership 
        h2 this site calculates your date based on a few java script libraries 
        h2 and is based on the gregorian calander which was created in 1582 
        h2 and somewhere around this time we skipped a few years and this site accounts for that(hopefully) :) 
        h2 contact me @ support@convert.company
        footer #[a(href="https://convert.company" style="text-decoration:none" ) © 2020 Convert.Company]
                